<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Save service type</title>
</head>
<body>
<div th:insert="~{general.html :: navbar}"></div>
<form action="#" th:action="@{/save-service-type}" th:object="${serviceType}" method="post">
  <input type="hidden" th:field="*{serviceTypeId}">
  <label>Service type: <input type="text" th:field="*{name}"></label> <br>
  <input type="submit" value="save">
</form>
<div th:replace="~{general.html :: back}"></div>
</body>
</html>