<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Service types</title>
  <link th:replace="~{general.html :: b-css}">
  <link th:replace="~{general.html :: fa-css}">
  <script th:replace="~{general.html :: top-js}"></script>
  <script th:replace="~{general.html :: b-js}"></script>
</head>
<body>
<div th:replace="~{general.html :: navbar}"></div>
<div class="container d-flex justify-content-center">
  <div class="row g-3 d-flex flex-column align-items-center">
    <div>
      <h2 class="text-center">Service types</h2>
    </div>
    <div class="mb-3">
      <form action="#" th:action="@{/save-service-type}" th:object="${serviceType}" method="post">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="New service type" th:field="*{name}">
          <button class="btn btn-outline-primary" type="submit"><i class="fa-solid fa-plus"></i> Add</button>
          <p th:if="${#fields.hasErrors('name')}" th:errorclass="error" th:errors="*{name}"></p>
        </div>
      </form>
    </div>
    <div>
      <table>
        <tbody>
        <tr th:each="serviceType : ${serviceTypes}">
          <td>
            <form action="#" th:action="@{/save-service-type}" th:object="${serviceType}" method="post">
            <div class="input-group mb-3">
              <input type="text" class="form-control" th:id="field-+${serviceType.id}" name="name" th:value="${serviceType.name}"
                     disabled>
              <button class="btn btn-outline-success" th:attr="onclick=|openUpdate('${serviceType.id}')|">
                <i class="fa-solid fa-pen-to-square"></i> Update</button>
              <button th:id="field-+${serviceType.id}+-close" class="btn btn-outline-danger" style="display:none"
                 th:attr="onclick=|closeUpdate('${serviceType.id}')|">X</button>
              <button class="btn btn-outline-danger"
                 th:attr="onclick=|confirmDelete('/delete-service-type?id=${serviceType.id}')|">
                <i class="fa-sharp fa-solid fa-trash"></i> Delete</button>
            </div>
            </form>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div>
      <a class="btn btn-outline-secondary" href="/orders"><i class="fa-solid fa-arrow-left"></i> Back</a>
    </div>
  </div>
</div>
</body>
</html>