<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employees</title>
</head>
<body>
<div th:insert="~{admin/admin-fragments.html :: navbar}"></div>
<tbody>
    <tr th:each="emp : ${employees}">
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Role</th>
        <th>PhoneNo</th>
        <th>EmailAddress</th>
        <th>Gender</th>
        <br/>
        <td th:text="${emp.firstname}"/>
        <td th:text="${emp.lastname}"/>
        <td th:text="${emp.role}"/>
        <td th:text="${emp.phoneNo}"/>
        <td th:text="${emp.emailAddress}"/>
        <td th:text="${emp.gender}"/>
        <br/>
    </tr>
</tbody>
</body>
</html>