<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Orders</title>
    <style>
        .toggle {display: none;}
    </style>
</head>
<body>
<div th:insert="~{general.html :: navbar}"></div>
<a href="/add-order">Add order</a>
<a href="/service-types">Service types</a>
<a href="/dimensions">Dimensions</a>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Customer</th>
        <th>Handle by</th>
        <th>Service</th>
        <th>Service status</th>
        <th>Total amount</th>
        <th>Amount paid</th>
        <th>Payment status</th>
        <th>Action</th>
    </tr>
    </thead>
    <form action="/orders">
        <input type="text" name="search">
        <input type="submit" value="search"> <br>
        <input type="submit" name="serviceStatus" value="Pending">
        <input type="submit" name="serviceStatus" value="Completed">
        <input type="submit" name="serviceStatus" value="Cancelled">
    </form>
    <tbody>
    <tr th:each="order : ${orders}">
        <td th:text="${order.orderId}"></td>
        <td>
            <p th:text="${order.customer.name}"></p>
            <div class="toggle">
                <p th:text="${order.customer.phoneNo}"></p>
                <p th:text="${order.customer.emailAddress}"></p>
            </div>
        </td>
        <td>
            <p th:text="${order.handleBy.firstname} + ${order.handleBy.lastname}"></p>
            <div class="toggle">
                <p th:text="${order.handleBy.gender}"></p>
                <p th:text="${order.handleBy.role.name}"></p>
                <p th:text="${order.handleBy.phoneNo}"></p>
                <p th:text="${order.handleBy.emailAddress}"></p>
            </div>
        </td>
        <td>
            <p th:text="${order.service.serviceType.name}"></p>
            <div class="toggle">
                <p th:text="${order.service.bookingDate}"></p>
                <p th:text="${order.service.dimensions.name}"></p>
                <p th:text="${order.service.quantity}"></p>
                <p th:text="${order.service.printingCharges}"></p>
            </div>
        </td>
        <td th:text="${order.service.serviceStatus}"></td>
        <td th:text="${order.payment.totalAmount}"></td>
        <td th:text="${order.payment.amountPaid}"></td>
        <td th:text="${order.payment.paymentStatus}"></td>
        <td>
            <a th:href="@{/edit-order?id={id}(id=${order.orderId})}">Edit</a>
            <a th:href="@{/delete-order?id={id}(id=${order.orderId})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>