<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Save order</title>
</head>
<body>
<div th:insert="~{general.html :: navbar}"></div>
<form action="#" th:action="@{/save-order}" th:object="${order}" method="post">
  <input type="hidden" th:field="*{orderId}">
  <label>Customer name: <input type="text" th:field="*{customer.name}"></label> <br>
  <label>Customer phoneNo: <input type="number" th:field="*{customer.phoneNo}"></label> <br>
  <label>Customer email address: <input type="email" th:field="*{customer.emailAddress}"></label> <br>
  <label>Handle by:
  <select th:field="*{handleBy}">
    <option th:each="employee : ${employees}"
            th:value="${employee.employeeId}"
            th:text="${employee.firstname} + ${employee.lastname}"
    ></option>
  </select>
  </label> <br>
  <label>Service type:
    <select th:field="*{service.serviceType}">
      <option th:each="serviceType : ${serviceTypes}"
              th:value="${serviceType.serviceTypeId}"
              th:text="${serviceType.name}"
      ></option>
    </select>
    <a href="/service-types">Service types</a>
  </label> <br>
  <label>Service status: <input type="text" th:field="*{service.serviceStatus}"></label> <br>
  <label>Booking date: <input type="text" th:field="*{service.bookingDate}"></label> <br>
  <label>Dimensions:
    <select th:field="*{service.dimensions}">
      <option th:each="dimension : ${dimensions}"
              th:value="${dimension.dimensionsId}"
              th:text="${dimension.name}"
      ></option>
    </select>
    <a href="/dimensions">Dimensions</a>
  </label> <br>
  <label>Quantity: <input type="number" th:field="*{service.quantity}"></label> <br>
  <label>Printing charges: <input type="number" th:field="*{service.printingCharges}"></label> <br>
  <label>Total amount: <input type="number" th:field="*{payment.totalAmount}"></label> <br>
  <label>Amount paid: <input type="number" th:field="*{payment.amountPaid}"></label> <br>
  <label>Payment status: <input type="text" th:field="*{payment.paymentStatus}"></label> <br>
  <input type="submit" value="save">
</form>
<div th:replace="~{general.html :: back}"></div>
</body>
</html>