<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Save order</title>
  <style>
    .error {
      color: red;
    }
  </style>
</head>
<body>
<div th:insert="~{general.html :: navbar}"></div>
<form action="#" th:action="@{/save-order}" th:object="${order}" method="post">
  <input type="hidden" th:field="*{orderId}">
  <label>Customer name: <input type="text" th:field="*{customer.name}"></label> <br>
  <p th:if="${#fields.hasErrors('customer.name')}" th:errorclass="error" th:errors="*{customer.name}"></p>
  <label>Customer phoneNo: <input type="number" th:field="*{customer.phoneNo}"></label> <br>
  <p th:if="${#fields.hasErrors('customer.phoneNo')}" th:errorclass="error" th:errors="*{customer.phoneNo}"></p>
  <label>Customer email address: <input type="email" th:field="*{customer.emailAddress}"></label> <br>
  <p th:if="${#fields.hasErrors('customer.emailAddress')}" th:errorclass="error" th:errors="*{customer.emailAddress}"></p>
  <label>Handle by:
  <select th:field="*{handleBy}">
    <option th:each="employee : ${employees}"
            th:value="${employee.employeeId}"
            th:text="${employee.fullName}"
    ></option>
  </select>
  </label> <br>
  <label>Service type:
    <select th:field="*{service.serviceType}">
      <option th:each="serviceType : ${serviceTypes}"
              th:value="${serviceType.serviceTypeId}"
              th:text="${serviceType.name}"
      ></option>
    </select>
    <a href="/service-types">Service types</a>
  </label> <br>
  <label>Dimensions:
    <select th:field="*{service.dimensions}">
      <option th:each="dimension : ${dimensions}"
              th:value="${dimension.dimensionsId}"
              th:text="${dimension.name}"
      ></option>
    </select>
    <a href="/dimensions">Dimensions</a>
  </label> <br>
  <label>Quantity: <input type="number" th:field="*{service.quantity}"></label> <br>
  <p th:if="${#fields.hasErrors('service.quantity')}" th:errorclass="error" th:errors="*{service.quantity}"></p>
  <label>Printing charges: <input type="number" th:field="*{service.printingCharges}"></label> <br>
  <p th:if="${#fields.hasErrors('service.printingCharges')}" th:errorclass="error" th:errors="*{service.printingCharges}"></p>
  <label>Total amount: <input type="number" th:field="*{payment.totalAmount}"></label> <br>
  <p th:if="${#fields.hasErrors('payment.totalAmount')}" th:errorclass="error" th:errors="*{payment.totalAmount}"></p>
  <input type="submit" value="save">
</form>
<a style="cursor: pointer; color: blue" href="/orders">Back</a>
</body>
</html>