<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dimensions</title>
    <link th:replace="~{frags/general-frags.html :: b-css}">
    <link th:replace="~{frags/general-frags.html :: fa-css}">
    <script th:replace="~{frags/general-frags.html :: top-js}"></script>
    <script th:replace="~{frags/general-frags.html :: b-js}"></script>
</head>
<body>
<div th:replace="~{frags/general-frags.html :: navbar}"></div>
<div class="container d-flex justify-content-center">
    <div class="row g-3 d-flex flex-column align-items-center">
        <div>
            <h2 class="text-center">Dimensions</h2>
        </div>
        <div>
            <form action="#" th:action="@{/save-dimensions}" th:object="${dimensionsObj}" method="post">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="New dimension" th:field="*{name}">
                    <button class="btn btn-outline-primary" type="submit"><i class="fa-solid fa-plus"></i> Add</button>
                    <p th:if="${#fields.hasErrors('name')}" th:errorclass="error" th:errors="*{name}"></p>
                </div>
            </form>
        </div> <br>
        <div>
            <table>
                <tbody>
                    <tr th:each="dimension : ${dimensions}">
                        <td>
                            <form action="#" th:action="@{/save-dimensions}" th:object="${dimensionsObj}" method="post">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" th:id="field-+${dimension.id}" name="name" th:value="${dimension.name}"
                                           disabled>
                                    <button class="btn btn-outline-success" th:attr="onclick=|openUpdate('${dimension.id}')|">
                                        <i class="fa-solid fa-pen-to-square"></i> Update</button>
                                    <button th:id="field-+${dimension.id}+-close" class="btn btn-outline-danger" style="display:none"
                                       th:attr="onclick=|closeUpdate('${dimension.id}')|">X</button>
                                    <button class="btn btn-outline-danger"
                                       th:attr="onclick=|confirmDelete('/delete-dimensions?id=${dimension.id}')|">
                                        <i class="fa-sharp fa-solid fa-trash"></i> Delete</button>
                                </div>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <button class="btn btn-outline-secondary" onclick="history.back()"><i class="fa-solid fa-arrow-left"></i> Back</button>
        </div>
    </div>
</div>
</body>
</html>