<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Employees</title>
    <link th:replace="~{general.html :: b-css}">
    <link th:replace="~{general.html :: fa-css}">
    <script th:replace="~{general.html :: b-js}"></script>
    <style>
        .toggle {display: none;}
        .toggleHead {
            color: blue;
            cursor: pointer;
        }
    </style>
</head>
<body>
<div th:insert="~{general.html :: navbar}"></div>
<div class="container-sm">
    <div>
        <a type="button" class="btn btn-outline-primary btn-sm" href="/add-employee">Add employee</a>
        <a class="btn btn-outline-primary btn-sm" href="/roles">Roles</a>
    </div>
    <br>
    <table class="table table-hover border">
        <thead class="table-light">
            <tr>
                <th>FullName</th>
                <th>Role</th>
                <th>PhoneNo</th>
                <th>EmailAddress</th>
                <th>Gender</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="emp : ${employees}">
                <td th:text="${emp.fullName}"></td>
                <td th:text="${emp.role.name}"></td>
                <td th:text="${emp.phoneNo}"></td>
                <td th:text="${emp.emailAddress}"></td>
                <td th:text="${emp.gender}"></td>
                <td>
                    <div class="dropdown" style="display:inline-block">
                        <button class="btn btn-success btn-sm dropdown-toggle"
                                type="button"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"><i class="fa-solid fa-pen-to-square"></i> Update</button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" th:href="@{|/update-employee?id=${emp.employeeId}|}">Update info</a></li>
                            <li><a class="dropdown-item" th:href="@{|/update-emp-account?id=${emp.employeeId}|}">Update account</a></li>
                        </ul>
                    </div>

                    <a class="btn btn-danger btn-sm"
                       th:attr="onclick=|confirmDelete('${emp.employeeId}')|"
                       href="#"><i class="fa-sharp fa-solid fa-trash"></i> Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<script>
    function toggleData(id) {
        let displayData = document.getElementById(id).style.display;
        if (displayData === 'block') {
            document.getElementById(id).style.display = 'none';
        } else {
            document.getElementById(id).style.display = 'block';
        }
    }

    function confirmDelete(id) {
        let text = "Are you sure you want to delete?";
        let link = "/delete-employee?id=" + id;
        if (confirm(text) == true) {
          window.location.replace(link);
        }
    }

</script>
</body>
</html>