<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Employees</title>
    <style>
        .toggle {display: none;}
        .toggleHead {
            color: blue;
            cursor: pointer;
        }
    </style>
</head>
<body>
<div th:insert="~{general.html :: navbar}"></div>
<a href="/add-employee">Add employee</a>
<a href="/roles">Roles</a>
<table>
    <thead>
        <tr>
            <th>FullName</th>
            <th>Role</th>
            <th>PhoneNo</th>
            <th>EmailAddress</th>
            <th>Gender</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="emp : ${employees}">
            <td th:text="${emp.fullName}"></td>
            <td th:text="${emp.role.name}"></td>
            <td th:text="${emp.phoneNo}"></td>
            <td th:text="${emp.emailAddress}"></td>
            <td th:text="${emp.gender}"></td>
            <td>
                <a class="toggleHead"
                   th:attr="onclick=|toggleData('update-link${emp.employeeId}')|">Update</a>
                <div th:id="update-link+${emp.employeeId}" class="toggle">
                    <a th:href="@{|/update-employee?id=${emp.employeeId}|}">Update info</a>
                    <a th:href="@{|/update-emp-account?id=${emp.employeeId}|}">Update account</a>
                </div>
                <a th:attr="onclick=|confirmDelete('${emp.employeeId}')|"
                   href="#">Delete</a>
            </td>
        </tr>
    </tbody>
</table>
<script>
    function toggleData(id) {
        let displayData = document.getElementById(id).style.display;
        if (displayData === 'block') {
            document.getElementById(id).style.display = 'none';
        } else {
            document.getElementById(id).style.display = 'block';
        }
    }

    function confirmDelete(id) {
        let text = "Are you sure you want to delete?";
        let link = "/delete-employee?id=" + id;
        if (confirm(text) == true) {
          window.location.replace(link);
        }
    }

</script>
</body>
</html>