<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Employees</title>
    <style>
        .toggle {display: none;}
        .toggleHead {
            color: blue;
            cursor: pointer;
        }
    </style>
</head>
<body>
<div th:insert="~{general.html :: navbar}"></div>
<a href="/add-employee">Add employee</a>
<a href="/roles">Roles</a>
<table>
    <thead>
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Role</th>
            <th>PhoneNo</th>
            <th>EmailAddress</th>
            <th>Gender</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="emp : ${employees}">
            <td th:text="${emp.firstname}"></td>
            <td th:text="${emp.lastname}"></td>
            <td th:text="${emp.role.name}"></td>
            <td th:text="${emp.phoneNo}"></td>
            <td th:text="${emp.emailAddress}"></td>
            <td th:text="${emp.gender}"></td>
            <td>
                <a th:href="@{/edit-employee?id={id}(id=${emp.employeeId})}">Update</a>
                <a th:href="@{/delete-employee?id={id}(id=${emp.employeeId})}">Delete</a>
            </td>
        </tr>
    </tbody>
</table>
<script>
    function toggleData(id) {
        let displayData = document.getElementById(id).style.display;
        if (displayData === 'block') {
            document.getElementById(id).style.display = 'none';
        } else {
            document.getElementById(id).style.display = 'block';
        }
    }
</script>
</body>
</html>