<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Save employee</title>
  <style>
    .error {
      color: red;
    }
  </style>
</head>
<body>
<div th:insert="~{general.html :: navbar}"></div>
<form action="#" th:action="@{/save-employee}" th:object="${employee}" method="post">
  <input type="hidden" th:field="*{employeeId}">
  <label>Firstname: <input type="text" th:field="*{firstname}"></label> <br>
  <p th:if="${#fields.hasErrors('firstname')}" th:errorclass="error" th:errors="*{firstname}"></p>
  <label>Lastname: <input type="text" th:field="*{lastname}"></label> <br>
  <p th:if="${#fields.hasErrors('lastname')}" th:errorclass="error" th:errors="*{lastname}"></p>
  <label>Role:
    <select th:field="*{role}">
      <option th:each="role : ${roles}"
              th:value="${role.roleId}"
              th:text="${role.name}"
      ></option>
    </select>
    <a href="/add-role">Add new role</a>
  </label> <br>
  <label>PhoneNo: <input type="number" th:field="*{phoneNo}"></label> <br>
  <p th:if="${#fields.hasErrors('phoneNo')}" th:errorclass="error" th:errors="*{phoneNo}"></p>
  <label>Email address: <input type="email" th:field="*{emailAddress}"></label> <br>
  <p th:if="${#fields.hasErrors('emailAddress')}" th:errorclass="error" th:errors="*{emailAddress}"></p>
  <label>Gender:
    <input type="radio" th:field="*{gender}" th:value="Male"> Male
    <input type="radio" th:field="*{gender}" th:value="Female"> Female
  </label> <br>
  <p th:if="${#fields.hasErrors('gender')}" th:errorclass="error" th:errors="*{gender}"></p>
  <input type="submit" value="save">
</form>
<div th:replace="~{general.html :: back}"></div>
</body>
</html>