<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Save employee info</title>
  <link th:replace="~{general.html :: top-styles}">
  <link th:replace="~{general.html :: b-css}">
  <link th:replace="~{general.html :: fa-css}">
  <script th:replace="~{general.html :: top-js}"></script>
  <script th:replace="~{general.html :: b-js}"></script>
</head>
<body>
<div th:replace="~{general.html :: navbar}"></div>
<div class="container d-flex justify-content-center">
  <div class="row g-3 d-flex flex-column align-items-center">
    <div class="col-lg-8 border p-3">
      <div>
        <h2 class="text-center mb-3">Save employee info</h2>
      </div>
      <div>
          <div
                  th:replace="~{frags/emp-frags.html :: emp-save-form(isAccountAllowed='false', isBtnSAllowed='true',
                  actionLink='/save-emp-info')}"></div>
      </div>
    </div>
  </div>
</div>
</body>
</html>