<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employees</title>
</head>
<body>
<div th:insert="~{admin-fragments.html :: navbar}"></div>
<a href="/add-employee">Add employee</a>
<table>
    <thead>
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Role</th>
            <th>PhoneNo</th>
            <th>EmailAddress</th>
            <th>Gender</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="emp : ${employees}">
            <td th:text="${emp.firstname}"></td>
            <td th:text="${emp.lastname}"></td>
            <td th:text="${emp.role}"></td>
            <td th:text="${emp.phoneNo}"></td>
            <td th:text="${emp.emailAddress}"></td>
            <td th:text="${emp.gender}"></td>
            <td>
                <a th:href="@{/edit-employee?id={id}(id=${emp.id})}">Update</a>
                <a th:href="@{/delete-emp?id={id}(id=${emp.id})}">Delete</a>
            </td>
        </tr>
    </tbody>
</table>
</body>
</html>